<h1>Welcome to AcmeSaaS!</h1>
<hr>
<p>This is the landing page! Please login or signup</p>

<center>
  <%= link_to "Login", new_user_session_path, class: "button success" %>
  <%= link_to "Sign up", new_user_registration_path, class: "button success" %>
</center>